apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      auth_url    = "http://myauthurl:5000/v2.0"
      password    = "pwd"
      region      = "RegionOne"
      tenant_name = "admin"
      user_name   = "admin"
    }
